/* Webchat custom styles */
div.col > p a:link { font-family: "Gill Sans",Arial,Helvetica,sans-serif; font-size: 130%; color: #525252; font-weight: lighter; } 
div.col > p a:visited { color: #525252; }
div.col > p a:hover { color: #525252; }

#webchat .rw-launcher, #webchat .rw-header, #webchat .rw-close-button, #webchat .rw-client, #webchat .rw-avatar {
  background-color: #009cda !important;
}

#webchat .rw-title { 
  font-family: "Rokkitt", sans-serif; 
  font-size: 150%; 
} 

#webchat .rw-conversation-container { 
  box-shadow: 0 2px 10px 1px #606060; 
  border-radius: 0px; 
} 

#webchat .rw-conversation-container .rw-response { 
  font-family: "Open Sans", sans-serif; 
  line-height: 1.428571429; 
  color: #333; 
}

#webchat .rw-conversation-container .rw-response a:link { color: #009cda; }
#webchat .rw-conversation-container .rw-response a:visited { color: #009cda; }
#webchat .rw-conversation-container .rw-response a:hover { color: #009cda; }

#webchat .rasa-exit-msg {
  background-color: #333333ad !important;
}

#webchat .livechat-init-msg {
  background-color: #009cda !important;
}