/* Webchat custom styles */
div.col > p a:link { font-family: "Gill Sans",Arial,Helvetica,sans-serif; font-size: 130%; color: #525252; font-weight: lighter; } 
div.col > p a:visited { color: #525252; }
div.col > p a:hover { color: #525252; }

#webchat .rw-launcher, #webchat .rw-header, #webchat .rw-close-button, #webchat .rw-client, #webchat .rw-avatar {
  background-color: #BCBF00 !important;
}

#webchat .rw-title { 
  font-family: "Rokkitt", sans-serif; 
  font-size: 150%; 
} 

#webchat .rw-conversation-container { 
  box-shadow: 0 2px 10px 1px #606060; 
  border-radius: 0px; 
} 

#webchat .rw-conversation-container .rw-response { 
  font-family: "Open Sans", sans-serif; 
  line-height: 1.428571429; 
  color: #333; 
}

#webchat .rw-conversation-container .rw-response a:link { color: #BCBF00; }
#webchat .rw-conversation-container .rw-response a:visited { color: #BCBF00; }
#webchat .rw-conversation-container .rw-response a:hover { color:#BCBF00; }

#webchat .rasa-exit-msg {
  background-color: #333333ad !important;
}

#webchat .livechat-init-msg {
  background-color: #BCBF00 !important;
}





/* EXTRA */

/* Styling for dropdown menu */

/* Menu in the widget */
#webchat .gem-options-menu {
  position: absolute;
  padding: 0px;
  left: 86%;
  cursor: pointer;
}

/* Menu positioning for smaller viewports */
@media (max-width: 800px) {
  #webchat .gem-options-menu {
    left: 77%;
  }
}

#webchat .gem-dropdown-menu {
  position: absolute;
  z-index: 1000;
	display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: -1px 0 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

#webchat .gem-dropdown-menu.show {
  display: block;
}

#webchat .gem-dropdown-menu a {
  text-decoration: none;
  color: #212529;
}
#webchat .gem-dropdown-item {
  display: block;
  padding: 1rem 1.2rem;
  clear: both;
  font-weight: 400px;
  text-align: inherit;
  white-space: nowrap;
  background-color: white;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}
#webchat .gem-dropdown-item:hover {
  background-color: rgb(231, 231, 231);
}

#webchat .gem-dropdown-menu.show {
  transform: translate3d(-80%, 15%, 0px) !important;
}

#webchat .gem-menu-bar {
  width: 30px;
  height: 3px;
  background-color: #FFFFFF;
  margin: 6px 0;
}

